/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



.btn-primary {
    background: #1b5875;
    border-color: #1b5875;
    padding: 6px 20px;
}

h2.banner {
    background-color: #2988b5;
    font-weight: normal;
    font-size: 16pt;
    color: white;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
    padding: 12px;
}

.rounded-form-box {
    margin: 0px;
    padding: 15px;
    border-radius: 10px;
    background: white;
    border: 1px solid #2988b5;
}

.a {
    cursor: pointer;
}

.label {
    color: #555555;
}

.label-bold {
    color: #555555;
    margin-bottom: 0px;
    font-weight: bold;
}

.invalid-label {
    margin-bottom: 0px;
    font-weight: bold;
    color: #a93a44;
}

.container {
    padding: 2px;
    width: 60%;
}

.form-buttons {
    padding-right: 0px;
    padding-left: 6px;
}

.is-invalid {
    background: #ffe8ea;
}

input.checkboxForm {
    text-align: left;
    padding: 5 5 5 5;
}
